<div class="container p-3">
  <h1>Perfis Cadastrados</h1>

  <hr class="my-4">

  <div class="row justify-content-md-center">
    <% if @profiles.blank? %>
        <h2>Ainda não há perfis cadastrados<h2>
    <% else %>
        <% @profiles.each do |profile| %>
          <div class="card col-sm-4" style="width: 18rem;">
            <%= image_tag profile.avatar, class: "card-img-top card-border" %>
            <div class="card-body card-border">
                <h5 class="card-title"><%= link_to profile.name, profile_path(profile) %></h5>
                <h6 class="card-subtitle mb-2"><strong><%= t('profile.professional_resume') %></strong>: <%= profile.professional_resume %></h6>
                <p class="card-text"><strong><%= t('candidate.email') %>:</strong> <%= profile.candidate.email %></p>
              </div>
          </div>
        <% end %>
    </div>
  <% end %>
</div>