<h1>Perfil pessoal</h1>

<% if @profile.errors.any? %>
  <p>Você deve corrigir os seguintes erros: </p>
  <ul>
  <% @profile.errors.full_messages.each do |message| %>
      <li><%= message %></li>
  <% end %>
  </ul><br><br>
<% end %>

<% if candidate_signed_in? %>
<h3><%= link_to 'Editar perfil', edit_profile_path(@profile) %>
<% end %>

<h2><%= @profile.name %></h2>

<% if @profile.avatar.attached? %>
  <%= image_tag(@profile.avatar, size: "400x400") %>
<% end %>

<dl>
    <dt><%= I18n.t('birth_date') %>:</dt>
    <dd><%= I18n.l(@profile.birth_date) %></dd>
    <dt><%= I18n.t('document') %>:</dt>
    <dd><%= @profile.document %></dd>
    <dt><%= I18n.t('professional_resume') %>:</dt>
    <dd><%= @profile.professional_resume %></dd>
    <dt><%= I18n.t('scholarity') %>:</dt>
    <dd><%= @profile.scholarity %></dd>
    <dt><%= I18n.t('address') %>:</dt>
    <dd><%= @profile.address %></dd>
</dl>

<h3>Comentários<h3>

<% if headhunter_signed_in? %>
    <%= form_for ([@profile, @comment]) do |form| %>
        <%= form.label :comment, I18n.t('comment') %>
        <%= form.text_field :comment %>
        <%= form.submit 'Comentar' %>
    <% end %>
<% end %>

<% if @profile.comments.blank? %>
    <h3>Sem comentários nesse perfil</h1>
<% elsif %>
    <% @profile.comments.each do |c| %>
        <dl>
            <dt>Autor:</dt>
            <dd><%= c.headhunter.email %></dd>
            <dt>Comentário:</dt>
            <dd><%= c.comment %></dd>
        <dl
    <% end %>>
<% end %>