<h1><%= @profile.name %></h1>

<hr class="my-4">

<% if candidate_signed_in? %>
<h3><%= link_to 'Editar perfil', edit_profile_path(@profile) %></h3>
<% end %>

<% if @profile.avatar.attached? %>
  <%= image_tag(@profile.avatar, size: "400x400") %>
<% end %>

<dl>
    <dt><%= I18n.t('birth_date') %>:</dt>
    <dd><%= I18n.l(@profile.birth_date) %></dd>
    <dt><%= I18n.t('document') %>:</dt>
    <dd><%= @profile.document %></dd>
    <dt><%= I18n.t('professional_resume') %>:</dt>
    <dd><%= @profile.professional_resume %></dd>
    <dt><%= I18n.t('scholarity') %>:</dt>
    <dd><%= @profile.scholarity %></dd>
    <% @profile.addresses.each do |address| %>
      <dt><%= 'Endereço' %>:</dt>
      <dd><%= address.street %></dd>
      <dt><%= 'Bairro' %>:</dt>
      <dd><%= address.neighborhood %></dd>
      <dt><%= 'CEP' %>:</dt>
      <dd><%= address.zipcode %></dd>
      <dt><%= 'Cidade' %>:</dt>
      <dd><%= address.city %></dd>
      <dt><%= 'Estado' %>:</dt>
      <dd><%= address.state %></dd>
      <dt><%= 'País' %>:</dt>
      <dd><%= address.country %></dd>
    <% end %>
</dl>

<hr class="my-4">

<h3>Comentários<h3>

<hr class="my-4">

<% if @profile.comments.blank? %>
    <span>Sem comentários nesse perfil</span>
<% elsif %>
    <% @profile.comments.each do |c| %>
        <dl>
            <dt>Autor:</dt>
            <dd><%= c.headhunter.email %></dd>
            <dt>Comentário:</dt>
            <dd><%= c.comment %></dd>
        <dl
    <% end %>>
<% end %>

<hr class="my-4">

<% if headhunter_signed_in? %>
    <%= form_for ([@profile, @comment]) do |form| %>
        <%= form.text_field :comment, placeholder: :comment %>
        <%= form.submit 'Comentar', class: 'btn btn-success' %>
    <% end %>
<% end %>
