<div class="jumbotron justify-content-center align-items-center" style="height: 60vh; display: flex">
  <div>
    <h1 class="main-text">DE DEVS PARA DEVS</h1>
    <p class="lead">Oportunidades para todos os níveis de experiência</p>
    <p>Receba feedbacks dos recrutadores durante todo o processo de seleção</p>
    <p class="lead">
      <%= link_to 'Inscreva-se', new_candidate_registration_path, class: 'btn btn-primary' %>
    </p>
  </div>
</div>

<div class="container">
  <p class="text-center h2 mb-5">Vagas recentes</p>
  <div class="row flex-row justify-content-center">
    <% if @opportunities.blank? %>
        <p>Ainda não há vagas cadastradas</p>
    <% else %>
      <% @opportunities.each do |op| %>
        <div class="card col-sm-4" style="width: 18rem;">
          <%= image_tag op.company.logo, class: "card-img-top card-border" %>
          <div class="card-body card-border">
              <h5 class="card-title"><%= link_to op.title, opportunity_path(op) %></h5>
              <h6 class="card-subtitle mb-2"><strong><%= t('opportunities.grade') %></strong>: <%= op.grade %></h6>
              <p class="card-text"><strong><%= t('opportunities.work_description') %>:</strong> <%= op.work_description %></p>
              <p class="card-text"><strong><%= t('opportunities.required_abilities') %>:</strong> <%= op.required_abilities %></p>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="text-center">
    <%= link_to 'Confira outras vagas', opportunities_path, class: 'btn btn-primary'%>
  </div>
</div>
