<div id="chat">
  <div id="messages"></div>
  <%= form_for @chat.messages.new, remote: true do |form| %>
    <%= form.hidden_field :headhunter_id, value: @chat.headhunter_id %>
    <%= form.hidden_field :candidate_id, value: @chat.candidate_id %>
    <%= form.hidden_field :from_id, value: (current_headhunter || current_candidate).id %>
    <%= form.hidden_field :from_class, value: (current_headhunter || current_candidate).class %>
    <%= form.hidden_field :to_id, value: @destinatary.id %>
    <%= form.hidden_field :to_class, value: @destinatary.class %>
    <div class="form-group">
      <%= form.text_field :text, autofocus: true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.submit '', id: 'message_send' %>
    </div>
  <% end %>
</div>
