<h1><%= @company.name %></h1>

<p><% @company.description %></p>

<dl>
  <dt><%= t('.document') %>:</dt>
  <dd><%= @company.document %></dd>
  <dt><%= t('.email') %>:</dt>
  <dd><%= @company.email %></dd>
  <dt><%= t('.phone') %>:</dt>
  <dd><%= @company.phone %></dd>
  <% @company.addresses.each do |address| %>
    <dt><%= t('street') %>:</dt>
    <dd><%= address.street %></dd>
    <dt><%= t('neighborhood') %>:</dt>
    <dd><%= address.neighborhood %></dd>
    <dt><%= t('zipcode') %>:</dt>
    <dd><%= address.zipcode %></dd>
    <dt><%= t('city') %>:</dt>
    <dd><%= address.city %></dd>
    <dt><%= t('state') %>:</dt>
    <dd><%= address.state %></dd>
    <dt><%= t('country') %>:</dt>
    <dd><%= address.country %></dd>
  <% end %>
</dl>

<hr class="my-4">

<h4>Headhunters vinculados</h4>

<%= form_with url: link_headhunters_company_path do |f| %>
  <div class="form-group">
    <%= f.label :email, 'Email' %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Vincular', class: 'btn btn-success' %>
  </div>
<% end %>

<% if @company.headhunters.blank? %>

<% else %>
  <% @company.headhunters.each do |h| %>
    <p><%= h.details %>
    <%= button_to 'Remover headhunter' %>
  <% end %>
<% end %>