<h1>Minhas inscrições</h1>

<% if @registrations.blank? %>
    <h3>Você ainda não se inscreveu em nenhuma vaga</h3>
<% elsif %>
    <% @registrations.each do |r| %>
        <h3><%= r.opportunity.title %></h3>
        <dl>
            <dt><%= I18n.t('status') %>:</dt>
            <dd><%= I18n.t(r.status) %></dd>
            <% if r.status != :in_progress %>
                <dt><%= I18n.t('feedback') %>:</dt>
                <dd><%= r.feedback %></dd>
            <% end %>
        <dl>
    <% end %>
<% end %>