<h1>Minhas inscrições</h1>

<% if @subscriptions.blank? %>
    <h3>Você ainda não se inscreveu em nenhuma vaga</h3>
<% elsif %>
    <% @subscriptions.each do |r| %>
        <h3><%= r.opportunity.title %></h3>
        <dl>
            <dt><%= t('subscriptions.status') %>:</dt>
            <dd><%= I18n.t(r.status, scope: [:activerecord, :attributes, :subscription]) %></dd>
            <% if r.status != :in_progress %>
                <dt><%= t('subscriptions.feedback') %>:</dt>
                <dd><%= r.feedback %></dd>
            <% end %>
        <dl>
    <% end %>
<% end %>