<h1>
    Inscrição: <%= @registration.id %>
    <% if @registration.highlighted == true %>
        <img src="assets/images/highlighted.png" title="Highlight">
    <% end %>
<h1>

<dl>
    <dt>Vaga:</dt>
    <dd><%= @registration.opportunity.title %></dd>
    <dt>Candidato:</dt>
    <dd><%= @registration.profile.name %></dd>
    <dt><%= I18n.t('status')%>:</dt>
    <dd><%= I18n.t(@registration.status) %></dd>
    <dt><%= I18n.t('feedback')%>:</dt>
    <dd><%= @registration.feedback %></dd>
</dl>

<% if headhunter_signed_in? %>
    <% if !@registration.highlighted %>
        <%= link_to 'Destacar perfil', highlight_subscription_path, method: :post %>
    <% else %>
        <%= link_to 'Remover destaque', highlight_subscription_path, method: :post %>
    <% end %>
<% end %>

<% if @registration.in_progress? %>
    <% if @registration.errors.any? %>
      <p>Você deve corrigir os seguintes erros: </p>
      <ul>
      <% @registration.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
      </ul><br><br>
    <% end %>
    <h3>Avaliar candidato<h3>
    <%= form_with model: @registration, url: subscription_path, method: :put do |form| %>
        <p>
            <%= form.label :status %>
            <%= form.collection_select(:status, Subscription.statuses.map{ |s| [s.first]}, :first, :first ) %>
        </p>
        <p>
            <%= form.label :feedback %>
            <%= form.text_area :feedback %>
        </p>
            <%= form.submit 'Avaliar' %>
    <% end %>
<% end %>

<% if @registration.approved? %>
    <h3>Enviar proposta ao candidato</h3>
    <% if @proposal.errors.any? %>
      <p>Você deve corrigir os seguintes erros: </p>
      <ul>
      <% @proposal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
      </ul><br><br>
    <% end %>
    <%= form_with model: @proposal, url: proposals_path, method: :post do |form| %>
        <p>
            <%= hidden_field_tag(:opportunity_id, @registration.opportunity.id) %>
        </p>
        <p>
            <%= hidden_field_tag(:subscription_id, @registration.id) %>
        </p>
        <p>
            <%= form.label :start_date %>
            <%= form.text_field :start_date %>
        </p>
        <p>
            <%= form.label :salary %>
            <%= form.number_field :salary %>
        </p>
        <p>
            <%= form.label :role %>
            <%= form.text_field :role %>
        </p>
        <p>
            <%= form.label :benefits %>
            <%= form.text_field :benefits %>
        </p>
        <p>
            <%= form.label :expectations %>
            <%= form.text_field :expectations %>
        </p>
        <p>
            <%= form.label :bonuses %>
            <%= form.text_field :bonuses %>
        </p>
        <%= form.submit 'Enviar proposta'%>
    <% end %>
<% end %>