<h1>Minhas propostas</h1><br>

<hr>

<% if @proposals.blank? %>
    <h2>Nenhuma proposta enviada<h2>
<% else %>
  <% @proposals.each do |p| %>
      <dl>
          <dt>Candidato:</dt>
          <dd><%= p.candidate.profile.name %></dd>
          <dt>Vaga:</dt>
          <dd><%= p.opportunity.title %></dd>
          <dt><%= I18n.t('role') %>:</dt>
          <dd><%= link_to p.role, proposal_path(p) %></dd>
          <dt><%= I18n.t('status') %>:</dt>
          <dd><%= I18n.t(p.status) %></dd>
      </dl>
  <% end %>
<% end %>