<div class="container pt-3">
  <h1><%= @opportunity.title %></h1>

  <hr class="my-4">

  <%= image_tag(@opportunity.company.logo, size: "200x200", class: 'mx-auto d-block') %>

  <dl>
      <dt><%= t('companies.name') %>:</dt>
      <dd><%= @opportunity.company.name %></dd>
      <dt><%= t('companies.document') %>:</dt>
      <dd><%= @opportunity.company.document %></dd>
      <dt><%= t('companies.email') %>:</dt>
      <dd><%= @opportunity.company.email %></dd>
      <dt><%= t('companies.phone') %>:</dt>
      <dd><%= @opportunity.company.phone %></dd>
      <dt><%= t('opportunities.work_description') %>:</dt>
      <dd><%= @opportunity.work_description %></dd>
      <dt><%= t('opportunities.required_abilities') %>:</dt>
      <dd><%= @opportunity.required_abilities %></dd>
      <dt><%= t('opportunities.salary') %>:</dt>
      <dd><%= number_to_currency(@opportunity.salary, locale: :'pt-BR') %></dd>
      <dt><%= t('opportunities.grade') %>:</dt>
      <dd><%= @opportunity.grade %></dd>
      <% if @opportunity.open?%>
        <dt><%= t('opportunities.submit_end_date') %>:</dt>
        <dd><%= I18n.localize @opportunity.submit_end_date %></dd>
      <% else %>
        <dt><%= t('opportunities.status') %>:</dt>
        <dd><%= t(@opportunity.status, scope: [:opportunities]) %></dd>
      <% end %>
  </dl>


  <% if candidate_signed_in? %>
    <hr class="my-4">
      <% if current_candidate.subscriptions.map(&:opportunity_id).include?(@opportunity.id) %>
        <p class="h4">Você já está inscrito nesta vaga. Aguarde instruções do recrutador.</p>
      <% elsif @opportunity.closed? %>
        <p class="h4">As inscrições para esta vaga foram encerradas</p>
      <% else%>
        <%= form_for ([@opportunity, @subscription]) do |form| %>
          <div class="col-md-4">
            <div class="form-group">
              <%= form.label :registration_resume %>
              <%= form.text_area :registration_resume, class: 'form-control' %>
            </div>
            <%= form.submit 'Inscreva-se', class: 'btn btn-primary' %>
          </div>
        <% end %>
      <% end %>
  <% end %>

  <% if headhunter_signed_in? %>
    <% if @opportunity.open? %>
      <%= link_to 'Encerrar inscrições', close_opportunity_path(@opportunity), method: :post, class: 'btn btn-danger' %>
    <% end %>

    <hr class="my-4">

    <h2>Candidatos Inscritos</h2><br>

    <% if @opportunity.subscriptions.empty? %>
      <p class="h4">Ainda não há candidatos inscritos.</p>
    <% else %>
      <% @opportunity.subscriptions.each do |r| %>
        <dl>
          <span>Inscrição: <%= link_to r.opportunity.title, subscription_path(r) %></span>
          <dt><%= t('profiles.name') %>:</dt>
          <dd><%= link_to r.profile.name, profile_path(r.profile) %></dd>
          <dt><%= t('subscriptions.registration_resume') %>:</dt>
          <dd><%= r.registration_resume %><dd>
          <dt><%= t('subscriptions.status') %>:</dt>
          <dd><%= I18n.t(r.status, scope: [:activerecord, :attributes, :subscription]) %></dd>
        </dl>
      <% end %>
    <% end %>
  <% end %>
</div>
