<h1><%= @opportunity.title %></h1>

<hr class="my-4">

<dl>
    <dt><%= t('name') %>:</dt>
    <dd><%= @opportunity.company.name %></dd>
    <dt><%= t('document') %>:</dt>
    <dd><%= @opportunity.company.document %></dd>
    <dt><%= t('description') %>:</dt>
    <dd><%= @opportunity.company.description %></dd>
    <dt><%= t('email') %>:</dt>
    <dd><%= @opportunity.company.email %></dd>
    <dt><%= t('phone') %>:</dt>
    <dd><%= @opportunity.company.phone %></dd>
    <dt><%= t('work_description') %>:</dt>
    <dd><%= @opportunity.work_description %></dd>
    <dt><%= t('required_abilities') %>:</dt>
    <dd><%= @opportunity.required_abilities %></dd>
    <dt><%= t('salary') %>:</dt>
    <dd><%= number_to_currency(@opportunity.salary, locale: :'pt-BR') %></dd>
    <dt><%= t('grade') %>:</dt>
    <dd><%= @opportunity.grade %></dd>
    <dt><%= t('submit_end_date') %>:</dt>
    <dd><%= I18n.localize @opportunity.submit_end_date %></dd>
</dl>

<% if candidate_signed_in? %>
    <% if @registered == nil %>
        <%= form_for ([@opportunity, @subscription]) do |form| %>
            <%= form.label :registration_resume, 'Resumo da inscrição' %>
            <%= form.text_area :registration_resume %>
            <%= form.submit 'Inscreva-se' %>
        <% end %>
    <% else %>
        <h3>Você já está inscrito nesta vaga. Aguarde instruções do recrutador.</h3>
    <% end %>
<% end %>

<% if headhunter_signed_in? %>
  <% if @opportunity.open? %>
    <%= link_to 'Encerrar inscrições', close_opportunity_path(@opportunity), method: :post, class: 'btn btn-danger' %>
  <% end %>

  <hr class="my-4">

  <h2>Candidatos Inscritos</h2><br>

  <% @opportunity.subscriptions.each do |r| %>
    <dl>
      <span>Inscrição: <%= link_to r.opportunity.title, subscription_path(r) %></span>
      <dt><%= I18n.t('profiles.name') %>:</dt>
      <dd><%= link_to r.profile.name, profile_path(r.profile) %></dd>
      <dt><%= I18n.t('registration_resume') %>:</dt>
      <dd><%= r.registration_resume %><dd>
      <dt><%= I18n.t('status') %>:</dt>
      <dd><%= r.status %><dd>
    </dl>
  <% end %>
<% end %>