<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Looking for Talents', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item">
        <%= link_to 'Vagas', opportunities_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Minhas vagas', subscriptions_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Minhas propostas', proposals_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Perfil', profiles_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sair', destroy_candidate_session_path, method: :delete, class: 'nav-link nav-link-logout' %>
      </li>
    </ul>
  </div>
</nav>
