<!DOCTYPE html>
<html>
  <head>
    <title>Looking For Talents - Oportunidades para Desenvolvedores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= favicon_link_tag asset_path('apple-icon.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/jquery.inputmask.bundle.min.js" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'packs/index.js' %>
    <script>

    </script>
  </head>

  <body style="padding-top: 60px">
    <% if !headhunter_signed_in? && !candidate_signed_in? %>
      <%= render 'shared/navbars/visitor'%>
    <% elsif candidate_signed_in? %>
      <%= render 'shared/navbars/candidate'%>
    <% elsif headhunter_signed_in? %>
      <%= render 'shared/navbars/headhunter'%>
    <% end %>
    <%= toastr_flash %>
    <%= yield %>
  </body>
</html>
