<!DOCTYPE html>
<html>
  <head>
    <title>Looking For Talents - Oportunidades para Desenvolvedores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= favicon_link_tag asset_path('apple-icon.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script>
      $(document).ready(function(){
        $(".cpf").inputmask("999.999.999-99");
        $(".cep").inputmask("99999-999");
        $(".phone").inputmask("(99) 99999-9999");
        $(".cnpj").inputmask("99.999.999/9999-99");
        $(".currency").inputmask('decimal', {
                "alias": "numeric",
                "groupSeparator": ".",
                "autoGroup": true,
                "digits": 2,
                "radixPoint": ",",
                "digitsOptional": false,
                "allowMinus": false,
                "prefix": "R$ ",
                "placeholder": "0",
                "rightAlign": false
        });
      });
    </script>
  </head>

  <body style="padding-top: 60px">
    <% if !headhunter_signed_in? && !candidate_signed_in? %>
      <%= render 'shared/navbars/visitor'%>
    <% elsif candidate_signed_in? %>
      <%= render 'shared/navbars/candidate'%>
    <% elsif headhunter_signed_in? %>
      <%= render 'shared/navbars/headhunter'%>
    <% end %>
    <%= toastr_flash %>
    <%= yield %>
  </body>
</html>
