<!DOCTYPE html>
<html>
  <head>
    <title>Looking For Talents - Vagas de Emprego</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !headhunter_signed_in? && !candidate_signed_in? %>
      <%= render 'shared/navbars/visitor'%>
    <% elsif candidate_signed_in? %>
      <%= render 'shared/navbars/candidate'%>
    <% elsif headhunter_signed_in? %>
      <%= render 'shared/navbars/headhunter'%>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
