<!DOCTYPE html>
<html>
  <head>
    <title>Looking For Talents - Vagas de Emprego</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= favicon_link_tag asset_path('apple-icon.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !headhunter_signed_in? && !candidate_signed_in? %>
      <%= render 'shared/navbars/visitor'%>
    <% elsif candidate_signed_in? %>
      <%= render 'shared/navbars/candidate'%>
    <% elsif headhunter_signed_in? %>
      <%= render 'shared/navbars/headhunter'%>
    <% end %>
    <%= toastr_flash %>
    <div class="p-3">
      <%= yield %>
    </div>
  </body>
</html>
