<!DOCTYPE html>
<html>
  <head>
    <title>LookingForTalents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Vagas', opportunities_path %>
      <%# <%= link_to 'Perfil', profile_path %> %>
      <%= link_to 'Login Headhunters', new_headhunter_session_path %>
      <%= link_to 'Login Candidatos', new_candidate_session_path %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
